*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #d5efe8;
}

/* NAVBAR */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

.logo{
    font-size: 22px;
    font-weight: 800;
    line-height: 18px;
}

.logo span{
    font-size: 12px;
    font-weight: 400;
}

.menu{
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.right-menu a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.cart{
    margin-left: 20px;
    font-size: 20px;
}

/* HERO SECTION */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
}

.hero-text{
    width: 50%;
}

.hero-text .small{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-text h1{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-text .sub{
    font-size: 18px;
    margin-bottom: 30px;
}

.btn{
    background: black;
    color: white;
    padding: 12px 28px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: #333;
}

.hero-img img{
    width: 420px;
}
